/* aleo-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/aleo-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* aleo-italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/fonts/aleo-v12-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* aleo-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/aleo-v12-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* aleo-700italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    src: url('/assets/fonts/aleo-v12-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* red-hat-text-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/red-hat-text-v13-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* magra-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Magra';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/magra-v14-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* Basic Styling */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 100vh;
  /*background-color: black; */
}

.wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  min-height: 100vh;
  font-family: Red Hat Text;
}

.container {
  max-width: 1440px;
}

.section {
  width: 1440px;
}
/* Header Styling */
.header {
  width: 1440px;
  background: url(assets/img/higher-background.jpg), lightgray -136px -141.277px / 112.222% 160.816% no-repeat;
  background-size: cover;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: rgba(242, 120, 92, 0.70);
  box-shadow: 0px 4px 4px 0px rgba(13, 96, 111, 0.50);
  color: #ffffff;
}
.logo-link {
  position: relative;
  bottom: 5px;
  right: 60px;
  display: flex;
  width: 216px;
  height: 31px;
  color: #FFF;
  font-family: Magra;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
.logo-svg {
  margin-right: 6px;
}
.nav-list {
  position: relative;
  left: 60px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  
}

.nav-item {
  margin-right: 42px;
}

.nav-item:last-child {
  margin-right: 196px;
}

.nav-link {
  color:#FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.logo-link:active, .nav-link:active, .button:active { /* Activated links and buttons style */
  opacity: .75;
}

.button { /* General button properties */
  border: none;
  border-radius: 10px;
  background: #0D606F;
  text-align: center;
  color: #FFF;
  font-family: Red Hat Text;
}

.button-login {
  position: relative;
  left: 60px;
  width: 103px;
  padding: 10px 30px;
  box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.section-preview {
  display: flex;
  flex-flow:column wrap;
  height: 675px;
  font-family: Aleo;

}
.container-preview {
  width: 892px;
  height: 422px;
  margin: 32px 428px 221px 120px;
}

.title {
  margin: 0 auto 30px;
  max-width: 892px;
  color: #FFF;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 96px;
}

.sub-title {
  margin: 0 auto 46px;
  color: #FFF;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #F2785C;
  opacity: 1; /* Firefox */
  position: relative;
  left: 41px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #F2785C;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #F2785C;
}

.fieldset-plan {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
}
.input-plan {
  display: flex;
  width: 892px;
  height: 95px;
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.70);
  color: #F2785C;
  font-family: Aleo;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.button-plan {
  position: relative;
  right: 246px;
  display: flex;
  width: 228px;
  height: 59px;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16), 0px 0px 3px 0px rgba(13, 96, 111, 0.08);
}

/* Styling main sections */

.section-steps {
  height: 424px;
  background-color: #FFF;
}

.steps-container {
  position: relative;
  left: 131px;
  top: 80px;
  width: 1177px;
  height: 247px;
}

.title-section {
  margin: 0 auto 40px;
  color: #F2785C;
  text-align: center;
  font-family: Red Hat Text;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.steps-block {
  display: flex;
}

.step-img {
  margin: 0 296px 30px 73px;
}

.airplane-img {
  position:relative;
  right: 40px;
}

.step-text {
  margin: 0;
  color: #0D606F;
  font-family: Aleo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.airplane-text {
  position: relative;
  right: 80px;
}

.section-destinations {
  height: 1042px;
}

.carousel {
  height: 800px;
}

.carousel-list {
  display: flex;
  flex-flow:row wrap;
}


